@model BastinWebApp.Models.Gebruiker
@{
    ViewData["Title"] = "Verwijder gebruiker";
}

<h3>Ben je zeker dat je dit wenst te verwijderen?</h3>
<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gebruikersnaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paswoord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paswoord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Privileges)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Privileges)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
