@model IEnumerable<BastinWebApp.Models.Gebruiker>

@{
    ViewData["Title"] = "Gebruikers";
}
<p>
    <a asp-action="Create">Nieuwe gebruiker</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gebruikersnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paswoord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Privileges)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruikersnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paswoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Privileges)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
